.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  border-top: 1px solid var(--subcolor);
  background-color: #101922;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 8px 0;
}

.navbar li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.navbar li a {
  text-decoration: none;
  color: #e0e1e2;
}

.navbar li a.active {
  color: #007bff; /* bleu pour l’actif */
}
